/* Custom Style Sheet */

html, body {
    height: 100%;
}

body {
    background: linear-gradient(#000000, #8f8f8f);
    background-attachment: fixed;
}

.mainHeader {
    text-align: center;
    font-size: 40px;
    color: white;
}

.header2 {
    text-align: center;
    font-size: 14px;
    color: white;
}

#italicized {
    font-style: italic;
}

/*use hover style over any of the buttons (done, flag for priority, etc) */
