/* Custom Style Sheet */

html, body {
    height: 100%;
}

body {
    background: linear-gradient(#00d1bc, #a4e0da);
    background-attachment: fixed;
}

.header {
    text-align: center;
    font-size: 40px;
    color: black;
}